<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_apprender"
        android:label="@string/nombre_app"
        android:roundIcon="@mipmap/ic_launcher_apprender_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseLogin">
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:theme="@style/Theme.FirebaseLogin.NoActionBar"/>
        <activity
            android:name=".PwdOlvidada"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false"/>
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>